<!------ Include the above in your HEAD tag ---------->

<div class="container">

  <div class="form-sec">
    <h4>Developer form</h4>
    
   <form name="qryform" id="qryform" method="post" (ngSubmit)="addDeveloper()" [formGroup]="developerForm" novalidate>
      <div class="form-group" [ngClass]="{'has-error': displayMessage.name}">
        <label>Name:</label>
        <div>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" formControlName="name"/>
          <span class="text-danger" *ngIf="displayMessage.name">
            <p [innerHTML]="displayMessage.name"></p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Founded:</label>
        <div>
        <input type="text" class="form-control" id="founded" placeholder="dd/mm/yyyy" name="founded" formControlName="founded">
        <span class="text-danger" *ngIf="displayMessage.founded">
          <p [innerHTML]="displayMessage.founded"></p>
        </span>
      </div>
      </div>
      
      <div class="form-group">
        <label>Websiste:</label>
        <input type="text" class="form-control" id="webSite" placeholder="http://" name="webSite" formControlName="webSite">
      </div>          
      <button type="submit" id="register" class="btn btn-default" [disabled]='!developerForm.valid'>Submit</button>
    </form>
    </div>
  </div>