<div class="row">
  <div class="carousel-inner">
      <carousel>
          <slide>
              <div class="item active">
                  <img src="http://placehold.it/1200x400/ea461c/ffffff&text=Mario Galaxy">
                  <div class="carousel-caption">
                      <h3>Classico!</h3>
                  </div>
              </div>
          </slide>
          <slide>
              <div class="item active">
                  <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Monster Hunter World">
                  <div class="carousel-caption">
                      <h3>Enfrente o rei dos céus</h3>
                  </div>
              </div>
          </slide>
          <slide>
              <div class="item active">
                  <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Overwach">
                  <div class="carousel-caption">
                      <h3>Conheça Ashe, a nova heroina</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                          ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                          sadipscing elitr.</p>
                  </div>
              </div>
          </slide>
      </carousel>
  </div>
</div>